#mission-statement {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  background-color: #555;
 }

 .ui.cards a.card {
 	border-radius: 0;
 }

 h1.ui.header {
 	text-transform: uppercase;
 }

 h2.ui.header {
 	font-weight: 400;
 }