<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="seven wide column">
          <h4 class="ui inverted header">Une mission du SGMAP</h4>
          <p>Ces méthodes et outils sont ceux que le <a href="https://modernisation.gouv.fr"><abbr title="Secrétariat Général pour la Modernisation de l'Action Publique">SGMAP</abbr></a> utilise au quotidien dans ses missions. Nous souhaitons qu'ils vous aident à concrétiser vos idées pour un service public innovant.</p>
          <i class="external icon"></i><a href="http://www.modernisation.gouv.fr/" class="item">modernisation.gouv.fr</a>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Votre avis nous intéresse, contribuez à la démarche !</h4>
          <p>Faites-nous part de vos retours et suggestions sur les outils et méthodes</p>
          <i class="talk outline icon"></i><a href="http://www.faire-simple.gouv.fr/fabrique-de-solutions/comment-faire-reussir-mon-projet-de-conception-de-services-publics" class="item">Rejoindre la communauté Comment-Faire</a>
        </div>
      </div>
    </div>
  </div>
</footer>
