<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="seven wide column">
          <h4 class="ui inverted header">Une mission du SGMAP</h4>
          <p></p>
          <i class="external icon"></i><a href="http://www.modernisation.gouv.fr/" class="item">modernisation</a>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Contribuez à la démarche</h4>
          <p>Faites-nous part de vos retours et suggestions sur les outils et méthodes</p>
          <i class="talk outline icon"></i><a href="#" class="item">Espace en ligne</a>
        </div>
      </div>
    </div>
  </div>
</footer>
