<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Comment Faire - Concevoir et améliorer les services publics</title>

  <link rel="stylesheet" type="text/css" href="dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="dist/components/transition.css">

  <script src="assets/library/jquery.min.js"></script>
  <script src="dist/components/transition.js"></script>
  <script src="dist/components/dropdown.js"></script>
  <script src="dist/components/visibility.js"></script>

  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.layout != 'default' %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ page.layout }}.css">
  {% endif %}
   {% if page.additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ "/css/" | append: page.additional_css | append: ".css" | prepend: site.baseurl }}">
  {% endif %}


  <script>
  $(document)
    .ready(function() {

      // fix main menu to page on passing
      $('.main.menu').visibility({
        type: 'fixed'
      });
      $('.overlay').visibility({
        type: 'fixed',
        offset: 80
      });
    })
  ;
  </script>

</head>

<body>

<section class="beta-logo">
<a href="https://github.com/modernisation/comment-faire">Bêta</a>
</section>

<section id="mission-statement" class="ui vertical center aligned segment">
  <div class="ui text container">
  <center><img class="ui medium image" src="{{ site.baseurl }}/img/CF_logo_home.png"></center>
  <h1 id="logo">{{ site.description }}</h1>
  <h2>{{page.content}}</h2>
  <center><img src="{{ site.baseurl }}/img/banner_demarche_line.png"></center>
  </div>
  </section>

<section id="nav-box" class="ui borderless main menu">
<div class="ui fluid five item menu">
      <ul>
      <li><a href="{{ site.baseurl }}/methodes/01_demarrage" class="demarrage"><strong>Démarrer son projet</strong></br>Bien définir le défi à relever</a></li>
      <li><a href="{{ site.baseurl }}/methodes/04_decouverte" class="decouverte"><strong>Comprendre ses usagers</strong></br>Observer et découvrir qui ils sont</a></li>
      <li><a href="{{ site.baseurl }}/methodes/07_conception" class="conception"><strong>Concevoir une solution</strong></br>Passer de l'idée au prototype</a></li>
      <li><a href="{{ site.baseurl }}/methodes/11_experimentation" class="experimentation"><strong>Expérimenter une solution</strong></br>Tester et faire évoluer</a></li>
      <li><a href="{{ site.baseurl }}/methodes/15_deploiement" class="deploiement"><strong>Déployer son projet</strong></br>Mettre en oeuvre et faire vivre</a></li>
      </ul>
</div>
  </section>

  </body>
