---
additional_css: head
---

<!DOCTYPE html>
<html>
  
  {% include head-big.html %}

<body>
<div class="ui text container">
  <p>{{page.content}}</p>

  <section id="entrees">
    <h2 class="ui divider horizontal">Comment ce kit projet peut m'aider ?</h2>
      <div class="ui two stackable cards">
      <div class="card">
     Je démarre un projet
      </div>
      <div class="card">
     J'ai besoin de comprendre mon public
      </div>
      <div class="card">
     Je veux animer une séance de créativité
      </div>
      <div class="card">
     Je veux améliorer un service numérique
      </div>
      <div class="card">
     J'ai un projet, je veux convaincre mes collègues
      </div>
    </div>
  </section>
</div>

  <section id="other-ressources">
    <h2 class="ui divider horizontal">toutes les ressources</h2>
      <div class="ui text container">
        <p>Mapstore vous oriente vers les guides et ressources nécessaires en fonction de l'avancée et des besoins de vos projets.</p>
        <a href="{{ site.baseurl }}/toutes-les-ressources" ><button class="ui button" >Explorer toutes les ressources</button></a>
      </div>
  </section>



  {% include footer.html %}

</body>

 </html>
